/* Google Fonts import */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Tourney:ital,wght@0,100..900;1,100..900&display=swap');

/* CSS Variables */
:root {
    --primary-font: "lato", sans-serif;
    --secondary-font: "Tourney", sans-serif;
    --primary-color: #734310; /* dark brown */
    --secondary-color: #545B33; /* dark green */
    --highlight-color: #94ab4c; /* light green */
    --highlight-color-light: #ecd397; /*chalky yellow */
}

/* Global styles */

body {
    font-family: var(--primary-font);
}

h1,
h2{
    font-family: var(--secondary-font);
    color: var(--primary-color);
    text-transform: uppercase;
}

h3{
    font-family: var(--primary-font);
    color: var(--secondary-color);
}
/* header */
#header .lead {
    font-family: var(--primary-font);
}
/* style applied to make Hero image fit on page */
#header .hero {
    width:100%;
}
#header .text-center {
    margin-top: 1rem;
    font-family: var(--primary-font);
}

.section {
    margin-top: 1rem;
    margin-bottom: 1rem;
}
/* Navbar*/
#navbar{
    background-color: var(--primary-color);
}

#navbar .logo {
   width: 30px;
}

/* Gallery*/
#gallery-header 
{
    margin-top: 4rem;
    width: 100%;
 }
 #gallery img
{
    float: left;
    width:  100%;
    height: 100%;
    object-fit: cover;
    padding-bottom: 5px;
    align-content: center;
 }

 /*Players to Watch section */


